#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    gap: 20px;
    margin-top: 40px;
}

.title-intro{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 15%;
    gap: 13px;

    /* background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); */
}

.search-container{
    position: sticky;
    top: 15px;
   
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 4px rgba(65, 65, 65, 0.457);
    padding: 15px;
    border-radius: 6px;
}

.search-container input{
    padding: 12px 10px;
    border: none;
    width: 500px;
    background-color: rgb(7, 137, 7, 0.3);
    font-weight: bold;
    color: white;

    transition: all 0.3s ease;
}

.search-container input::placeholder{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.89);
}

.search-container input:focus{
    outline: none;
    border: none;
    width: 550px;
}

.search-container button{
    padding: 12px 20px;
    border: none;
    /* background-color: rgb(7, 137, 7, 0.6); */
    background-color: rgba(128, 128, 128, 0.546);
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-left: 1.5px white solid;
}

.image-data{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    column-gap: 30px;
    row-gap: 30px;

    margin-top: 50px;
    padding: 0px 20px;
}

.image-data img{
    object-fit: cover;
    border: solid 1px white;
    border-radius: 10px;
}



/* Media Query Section*/

@media screen and (max-width: 300px) {
    .title-intro{
        padding: 0px 13px;
    }

    .search-container{
        width: 95%;
    }

    .search-container input{
        width: 60%;
    }

    .search-container input:focus{
        width: 60%;
    }

    .search-container button{
        width: 40%;
    }

    .image-data{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 10px;
    }

    .image-data img{
        width: 100%;
    }
}

/* Media for screens 301px to 500px */
@media screen and (min-width:301px) and (max-width: 500px) {
        .title-intro{
            padding: 0px 13px;
        }
    
        .search-container{
            width: 95%;
        }
    
        .search-container input{
            width: 60%;
        }
    
        .search-container input:focus{
            width: 60%;
        }
    
        .search-container button{
            width: 40%;
        }
    
        .image-data{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            padding: 0 10px;
        }
    
        .image-data img{
            width: 100%;
        }
    }


/* Media for screens 501px to 1000px */
@media screen and (min-width:501px) and (max-width: 1000px) {
    .title-intro{
        padding: 0px 13px;
    }

    .search-container{
        width: 95%;
    }

    .search-container input{
        width: 60%;
    }

    .search-container input:focus{
        width: 60%;
    }

    .search-container button{
        width: 40%;
    }

    .image-data{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 10px;
    }

    .image-data img{
        width: 100%;
    }
}


/* Media for screens 1001px to 1300px */
@media screen and (min-width:1001px) and (max-width: 1300px) {
    .title-intro{
        padding: 0px 13px;
    }

    .search-container{
        width: 95%;
    }

    .search-container input{
        width: 70%;
    }

    .search-container input:focus{
        width: 70%;
    }

    .search-container button{
        width: 30%;
    }

    .image-data{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 15px;
    }

    .image-data img{
        width: 100%;
    }
}